@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

body {
    background-color: #0f0e17;
    color: #a7a9be;
    font-family: 'Nunito', sans-serif;
    text-align: center;
}

button {
    background-color: purple;
    color: white;
    font-family: 'Nunito', sans-serif;
    border-radius: 8px;
    width: 70px;
    height: 25px;
}

button:hover {
    background-color: aqua;
    color: black;
}